/*Stylesheet by Emily Pettit, 2018*/
html, body, #map {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 2;
}

body {
  font-family: 'Raleway', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  color: black;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.click {
  color: black;
  font-size: 16px;
}

#welcomeWrapper {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-100%);
  width: 40%;
  z-index: 50;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  background-color: rgba(128,128,128,255);
  box-shadow: 0 1px 5px black;
  padding: 10px;
  border-radius: 25px;
}

.range-slider {
  width: 200px;
  vertical-align: top;
}

.range-slider-container {
  bottom: 45px;
  width: 350px;
  height: 20px;
  background-color: rgba(128,128,128,0.9);
  padding: 10px;
  line-height: 45px;
  text-align: center;
  border: gray 1px;
  box-shadow: 0 1px 5px black;
}

#forward {
  float: right;
  width: 30px;
}

#reverse {
  float: left;
  width: 30px;
}

.leaflet-popup-content p {
  margin: 5px 0;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.popupContent {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 10px;
  box-shadow: 0 1px 5px black;
}

.leaflet-control-attribution {
  bottom: 10px;
  right: 5px;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
  box-shadow: 0 1px 5px black;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.timestamp-container {
  top: 500px;
  width: 200px;
  height: 30px;
  background-color: rgba(128,128,128,0.9);
  padding-bottom: 15px;
  line-height: 45px;
  border: #000;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 1px 5px black;
  color: white;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.footer {
  position: fixed;
  height: 45px;
  width: 600px;
  font-size: 9px;
  color: black;
  z-index: 50;
  left: 20px;
  bottom: 0px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Helvetica, sans-serif;
}

#attribute-legend {
  background-color: rgba(128,128,128,0.9);
  box-shadow: 0 1px 5px black;
  color: white;
  border-radius: 5px;
  z-index: 100;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1em;
}

#temporal-legend {
  background-color: rgba(128,128,128,0.9);
  box-shadow: 0 1px 5px black;
  border-radius: 5px;
  color: white;
  z-index: 100;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 16px;
}

.legend-control-container.leaflet-control {
  color: white;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 12px;
}

#maxR-text {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 12px;
  color: white;
}

#meanR-text {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 12px;
  color: white;
}

#minR-text {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 12px;
  color: white;
}
